---
import Browser1 from "../../components/Browser1.astro";
import Browser2 from "../../components/Browser2.astro";
import Navigation from "../../components/Navigation";
import Layout from "../../layouts/Layout.astro";

const currentPath = Astro.url.pathname;
---

<Layout title="Htet Lin Maung">
  <div class="flex flex-wrap flex-col">
    <div class="mb-20 mx-0 sm:mx-3">
      <Navigation currentPath={currentPath} client:visible />

      <div class="flex flex-wrap row1 mt-16">
        <div class="w-full md:w-auto main-info-wrapper">
          <div class="flex flex-col main-info">
            <div class="hiiamhlm">
              <div id="hiiam"></div>
              <div id="hlm" style="line-height: 3rem;"></div>
            </div>
            <div style="margin-bottom: 1.375rem; font-size: 1.25rem">
              <div id="intro-desc" style="max-width: 31rem;"></div>
            </div>

            <div
              id="skill-tags"
              class="flex flex-wrap"
              style="width: 22rem; opacity: 0; transition: all 1s"
            >
              <div class="skill" style="background: #e1e1e1">Javascript</div>
              <div class="skill" style="background: #66BB4A; color: #fff;">
                Nodejs
              </div>
              <div class="skill" style="background: #D6DBEE;">Nextjs</div>
              <div class="skill" style="background: #766490; color: #fff;">
                Astro
              </div>
              <div class="skill" style="background: #e1e1e1;">Python</div>
              <div class="skill" style="background: #e1e1e1;">Java</div>
            </div>
            <div class="flex-grow"></div>
            <div
              class="flex flex-wrap mt-10"
              id="contact-btns"
              style="opacity: 0; transition: all 1s"
            >
              <button
                class="bg-black btn hidden sm:flex items-center justify-center text-white rounded-full contact-btn"
                >Contact me</button
              >
              <button
                class="icon-btn rounded-full flex items-center justify-center bg-white"
              >
                <svg
                  width="38"
                  height="38"
                  viewBox="0 0 38 38"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19 3.16667C16.9207 3.16667 14.8618 3.57621 12.9408 4.37191C11.0198 5.16761 9.27439 6.33389 7.80413 7.80415C4.83481 10.7735 3.16666 14.8007 3.16666 19C3.16666 25.9983 7.71082 31.9358 13.9967 34.0417C14.7883 34.1683 15.0417 33.6775 15.0417 33.25V30.5742C10.6558 31.5242 9.72166 28.4525 9.72166 28.4525C8.99332 26.6158 7.96416 26.125 7.96416 26.125C6.52332 25.1433 8.07499 25.175 8.07499 25.175C9.65832 25.2858 10.4975 26.8058 10.4975 26.8058C11.875 29.2125 14.2025 28.5 15.105 28.12C15.2475 27.0908 15.6592 26.3942 16.1025 25.9983C12.5875 25.6025 8.89832 24.2408 8.89832 18.2083C8.89832 16.4508 9.49999 15.0417 10.5292 13.9175C10.3708 13.5217 9.81666 11.875 10.6875 9.7375C10.6875 9.7375 12.0175 9.31 15.0417 11.3525C16.2925 11.0042 17.6542 10.83 19 10.83C20.3458 10.83 21.7075 11.0042 22.9583 11.3525C25.9825 9.31 27.3125 9.7375 27.3125 9.7375C28.1833 11.875 27.6292 13.5217 27.4708 13.9175C28.5 15.0417 29.1017 16.4508 29.1017 18.2083C29.1017 24.2567 25.3967 25.5867 21.8658 25.9825C22.4358 26.4733 22.9583 27.4392 22.9583 28.9117V33.25C22.9583 33.6775 23.2117 34.1842 24.0192 34.0417C30.305 31.92 34.8333 25.9983 34.8333 19C34.8333 16.9207 34.4238 14.8618 33.6281 12.9408C32.8324 11.0199 31.6661 9.27441 30.1959 7.80415C28.7256 6.33389 26.9801 5.16761 25.0591 4.37191C23.1382 3.57621 21.0793 3.16667 19 3.16667Z"
                    fill="#181818"></path>
                </svg>
              </button>
              <button
                class="icon-btn rounded-full flex items-center justify-center bg-white"
              >
                <svg
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20.16 7.09333H22.6667V2.85333C21.453 2.72713 20.2335 2.66482 19.0133 2.66667C15.3867 2.66667 12.9067 4.88 12.9067 8.93333V12.4267H8.81332V17.1733H12.9067V29.3333H17.8133V17.1733H21.8933L22.5067 12.4267H17.8133V9.4C17.8133 8 18.1867 7.09333 20.16 7.09333Z"
                    fill="#181818"></path>
                </svg>
              </button>
              <button
                class="icon-btn rounded-full flex items-center justify-center bg-white"
              >
                <svg
                  width="34"
                  height="34"
                  viewBox="0 0 34 34"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M17 12.574C14.5629 12.574 12.574 14.5629 12.574 17C12.574 19.4371 14.5629 21.426 17 21.426C19.4371 21.426 21.426 19.4371 21.426 17C21.426 14.5629 19.4371 12.574 17 12.574ZM30.2746 17C30.2746 15.1672 30.2912 13.351 30.1883 11.5215C30.0854 9.39648 29.6006 7.51054 28.0467 5.95664C26.4895 4.39941 24.6068 3.91797 22.4818 3.81504C20.649 3.71211 18.8328 3.72871 17.0033 3.72871C15.1705 3.72871 13.3543 3.71211 11.5248 3.81504C9.39981 3.91797 7.51387 4.40273 5.95997 5.95664C4.40274 7.51386 3.92129 9.39648 3.81836 11.5215C3.71543 13.3543 3.73204 15.1705 3.73204 17C3.73204 18.8295 3.71543 20.649 3.81836 22.4785C3.92129 24.6035 4.40606 26.4894 5.95997 28.0434C7.51719 29.6006 9.39981 30.082 11.5248 30.185C13.3576 30.2879 15.1738 30.2713 17.0033 30.2713C18.8361 30.2713 20.6523 30.2879 22.4818 30.185C24.6068 30.082 26.4928 29.5973 28.0467 28.0434C29.6039 26.4861 30.0854 24.6035 30.1883 22.4785C30.2945 20.649 30.2746 18.8328 30.2746 17ZM17 23.81C13.2315 23.81 10.19 20.7685 10.19 17C10.19 13.2314 13.2315 10.19 17 10.19C20.7686 10.19 23.81 13.2314 23.81 17C23.81 20.7685 20.7686 23.81 17 23.81ZM24.0889 11.5016C23.209 11.5016 22.4984 10.791 22.4984 9.91113C22.4984 9.03125 23.209 8.3207 24.0889 8.3207C24.9688 8.3207 25.6793 9.03125 25.6793 9.91113C25.6796 10.1201 25.6386 10.327 25.5588 10.5201C25.4789 10.7131 25.3618 10.8886 25.2141 11.0363C25.0663 11.1841 24.8909 11.3012 24.6978 11.381C24.5047 11.4609 24.2978 11.5018 24.0889 11.5016Z"
                    fill="#181818"></path>
                </svg>
              </button>
              <button
                class="icon-btn rounded-full flex items-center justify-center bg-white"
              >
                <svg
                  width="28"
                  height="28"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.8734 8.49843L23.5703 11.7906C22.9141 19.4359 16.4609 25.375 8.75 25.375C7.16406 25.375 5.85156 25.1234 4.85625 24.6312C4.05781 24.2266 3.72969 23.8 3.64219 23.6687C3.56979 23.5588 3.52314 23.4339 3.50571 23.3034C3.48829 23.1729 3.50053 23.0402 3.54153 22.9151C3.58253 22.79 3.65123 22.6757 3.74252 22.5809C3.8338 22.486 3.94532 22.413 4.06875 22.3672C4.09063 22.3562 6.67188 21.3719 8.34531 19.4797C7.3075 18.7407 6.39532 17.8396 5.64375 16.8109C4.14531 14.7766 2.55938 11.2437 3.51094 5.97187C3.54085 5.81514 3.61254 5.6694 3.71842 5.55004C3.8243 5.43068 3.96046 5.34213 4.1125 5.29375C4.26503 5.2438 4.42835 5.23677 4.58461 5.27342C4.74087 5.31008 4.88403 5.389 4.99844 5.50156C5.03125 5.54531 8.67344 9.13281 13.125 10.2922V9.625C13.1293 8.93124 13.2702 8.24513 13.5397 7.60583C13.8091 6.96654 14.2019 6.38657 14.6955 5.89906C15.1891 5.41155 15.7739 5.02604 16.4165 4.76454C17.0591 4.50304 17.7469 4.37067 18.4406 4.375C19.3512 4.38798 20.2428 4.6366 21.0287 5.09663C21.8146 5.55666 22.4679 6.21241 22.925 7H26.25C26.4228 6.99946 26.5918 7.05006 26.7358 7.14543C26.8799 7.24081 26.9924 7.37668 27.0594 7.53593C27.1224 7.69756 27.1384 7.87372 27.1055 8.04405C27.0726 8.21439 26.9921 8.37192 26.8734 8.49843Z"
                    fill="#181818"></path>
                </svg>
              </button>
              <button
                class="icon-btn rounded-full flex items-center justify-center bg-white"
              >
                <svg
                  width="36"
                  height="36"
                  viewBox="0 0 36 36"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M29.875 4H6.25C5.65326 4 5.08097 4.23705 4.65901 4.65901C4.23705 5.08097 4 5.65326 4 6.25V29.875C4 30.4717 4.23705 31.044 4.65901 31.466C5.08097 31.8879 5.65326 32.125 6.25 32.125H29.875C30.4717 32.125 31.044 31.8879 31.466 31.466C31.8879 31.044 32.125 30.4717 32.125 29.875V6.25C32.125 5.65326 31.8879 5.08097 31.466 4.65901C31.044 4.23705 30.4717 4 29.875 4ZM13.5625 24.8125C13.5625 25.1109 13.444 25.397 13.233 25.608C13.022 25.819 12.7359 25.9375 12.4375 25.9375C12.1391 25.9375 11.853 25.819 11.642 25.608C11.431 25.397 11.3125 25.1109 11.3125 24.8125V15.8125C11.3125 15.5141 11.431 15.228 11.642 15.017C11.853 14.806 12.1391 14.6875 12.4375 14.6875C12.7359 14.6875 13.022 14.806 13.233 15.017C13.444 15.228 13.5625 15.5141 13.5625 15.8125V24.8125ZM12.4375 13C12.1037 13 11.7775 12.901 11.5 12.7156C11.2225 12.5302 11.0062 12.2666 10.8785 11.9583C10.7507 11.6499 10.7173 11.3106 10.7824 10.9833C10.8475 10.6559 11.0083 10.3553 11.2443 10.1193C11.4803 9.88326 11.7809 9.72254 12.1083 9.65742C12.4356 9.59231 12.7749 9.62573 13.0833 9.75345C13.3916 9.88118 13.6552 10.0975 13.8406 10.375C14.026 10.6525 14.125 10.9787 14.125 11.3125C14.125 11.7601 13.9472 12.1893 13.6307 12.5057C13.3143 12.8222 12.8851 13 12.4375 13ZM25.9375 24.8125C25.9375 25.1109 25.819 25.397 25.608 25.608C25.397 25.819 25.1109 25.9375 24.8125 25.9375C24.5141 25.9375 24.228 25.819 24.017 25.608C23.806 25.397 23.6875 25.1109 23.6875 24.8125V19.75C23.6875 19.0041 23.3912 18.2887 22.8637 17.7613C22.3363 17.2338 21.6209 16.9375 20.875 16.9375C20.1291 16.9375 19.4137 17.2338 18.8863 17.7613C18.3588 18.2887 18.0625 19.0041 18.0625 19.75V24.8125C18.0625 25.1109 17.944 25.397 17.733 25.608C17.522 25.819 17.2359 25.9375 16.9375 25.9375C16.6391 25.9375 16.353 25.819 16.142 25.608C15.931 25.397 15.8125 25.1109 15.8125 24.8125V15.8125C15.8117 15.5356 15.9131 15.2682 16.0971 15.0614C16.2812 14.8546 16.5351 14.7229 16.8102 14.6916C17.0852 14.6602 17.3622 14.7314 17.5881 14.8915C17.814 15.0517 17.9729 15.2894 18.0344 15.5594C18.7956 15.0434 19.683 14.7444 20.6013 14.6947C21.5196 14.645 22.4341 14.8464 23.2466 15.2772C24.0591 15.708 24.7389 16.352 25.213 17.14C25.6871 17.9281 25.9375 18.8304 25.9375 19.75V24.8125Z"
                    fill="#181818"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div style="padding: 0.6875rem; flex: 2">
          <div class="hlm-image"></div>
        </div>
      </div>

      <div class="flex flex-wrap">
        <div class="project-card-col" style="flex: 1; position: relative">
          <div
            class="h-full project-card"
            data-aos="fade-up"
            style="background: #323132;"
          >
            <div class="flex justify-between">
              <div>
                <div
                  class="text-white"
                  style="font-size: 1.5rem; margin-bottom: 0.4375rem"
                >
                  Animelux
                </div>
                <div
                  style="color: #D3D3D3; font-size: 1.25rem; margin-bottom: 3rem"
                >
                  Anime streaming website
                </div>
              </div>
              <button
                id="animelux-btn"
                class="icon-btn rounded-full flex items-center justify-center bg-white"
                style="margin-right: 0;"
              >
                <svg
                  width="36"
                  height="36"
                  viewBox="0 0 51 51"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M31.3709 30.3976C30.9518 30.3313 30.6223 30.1226 30.3822 29.7717C30.1421 29.4209 30.0556 29.0356 30.1228 28.616L31.0603 22.697L17.5294 32.5277C17.1856 32.7775 16.8126 32.8706 16.4103 32.8069C16.008 32.7432 15.6827 32.5395 15.4342 32.1959C15.1844 31.852 15.0914 31.479 15.1551 31.0767C15.2188 30.6744 15.4225 30.3491 15.7661 30.1007L29.2969 20.27L23.3256 19.3242C22.9065 19.2578 22.5756 19.0576 22.3329 18.7235C22.0901 18.3893 22.0022 18.0132 22.0692 17.5949C22.1356 17.1759 22.3358 16.845 22.6699 16.6022C23.004 16.3595 23.3802 16.2716 23.7985 16.3385L33.384 17.8567C33.5935 17.8899 33.7752 17.9588 33.929 18.0633C34.0829 18.1679 34.2182 18.3014 34.3349 18.4637C34.4525 18.6255 34.5372 18.7958 34.5891 18.9744C34.641 19.153 34.6507 19.3467 34.6184 19.5557L33.0919 29.1936C33.031 29.5777 32.8339 29.8909 32.5006 30.133C32.1673 30.3752 31.7907 30.4634 31.3709 30.3976Z"
                    fill="#181818"></path>
                </svg>
              </button>
            </div>
            <div class="flex" style="position: relative">
              <img
                class="animelux1"
                src="animelux1.png"
                width="250"
                height="340.75"
                alt=""
              />
              <img
                class="animelux2"
                src="animelux2.png"
                width="250"
                height="340.75"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="project-card-col" style="flex: 1">
          <div
            data-aos="fade-up"
            class="h-full flex flex-col project-card"
            style="background: #6C5BE5;"
          >
            <div class="flex justify-between">
              <div>
                <div
                  class="text-white"
                  style="font-size: 1.5rem; margin-bottom: 0.4375rem"
                >
                  Starless Server
                </div>
                <div
                  style="color: #D3D3D3; font-size: 1.25rem; margin-bottom: 3rem"
                >
                  Minimalist web server
                </div>
              </div>
              <button
                id="starless-server-btn"
                class="icon-btn rounded-full flex items-center justify-center bg-white"
                style="margin-right: 0;"
              >
                <svg
                  width="36"
                  height="36"
                  viewBox="0 0 51 51"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M31.3709 30.3976C30.9518 30.3313 30.6223 30.1226 30.3822 29.7717C30.1421 29.4209 30.0556 29.0356 30.1228 28.616L31.0603 22.697L17.5294 32.5277C17.1856 32.7775 16.8126 32.8706 16.4103 32.8069C16.008 32.7432 15.6827 32.5395 15.4342 32.1959C15.1844 31.852 15.0914 31.479 15.1551 31.0767C15.2188 30.6744 15.4225 30.3491 15.7661 30.1007L29.2969 20.27L23.3256 19.3242C22.9065 19.2578 22.5756 19.0576 22.3329 18.7235C22.0901 18.3893 22.0022 18.0132 22.0692 17.5949C22.1356 17.1759 22.3358 16.845 22.6699 16.6022C23.004 16.3595 23.3802 16.2716 23.7985 16.3385L33.384 17.8567C33.5935 17.8899 33.7752 17.9588 33.929 18.0633C34.0829 18.1679 34.2182 18.3014 34.3349 18.4637C34.4525 18.6255 34.5372 18.7958 34.5891 18.9744C34.641 19.153 34.6507 19.3467 34.6184 19.5557L33.0919 29.1936C33.031 29.5777 32.8339 29.8909 32.5006 30.133C32.1673 30.3752 31.7907 30.4634 31.3709 30.3976Z"
                    fill="#181818"></path>
                </svg>
              </button>
            </div>
            <div
              style="font-size: 1.875rem; padding-top: 5.0625rem;"
              class="text-white flex-grow"
            >
              Single Codebase For Famous Technology
            </div>
            <div
              class="flex justify-between technologies"
              style="margin-bottom: 4.0625rem;"
            >
              <svg
                width="75"
                height="75"
                viewBox="0 0 75 75"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M28.256 2.16267C37.7092 -0.261642 48.157 1.15105 56.494 6.29646C66.994 12.5757 73.8489 24.4535 74.0232 36.6803C74.407 49.0289 67.9708 61.2732 57.6278 67.9884C46.1162 75.7324 30.1919 76.0292 18.4359 68.6686C6.45351 61.5173 -0.540821 47.0929 1.25596 33.244C2.70322 18.6102 14.006 5.7032 28.256 2.16267Z"
                  fill="#010101"></path>
                <path
                  d="M26.8081 8.14539C44.6687 0.994028 66.5757 14.1975 68.4243 33.3489C71.3024 50.5813 57 68.093 39.5405 68.5989C22.9359 70.2559 6.88945 56.18 6.41865 39.5059C5.18027 26.0059 14.0757 12.6105 26.8081 8.14539Z"
                  fill="white"></path>
                <path
                  d="M28.6046 35.6513C36.6106 29.1105 44.4419 22.3429 52.6222 15.994C48.3314 22.5873 43.9187 29.0929 39.6278 35.6859C35.9476 35.7035 32.2676 35.7038 28.6046 35.6513ZM35.3722 39.2965C39.0697 39.2965 42.75 39.2965 46.4303 39.3489C38.3722 45.8546 30.5757 52.6743 22.3778 59.0059C26.6687 52.4127 31.0814 45.8897 35.3722 39.2965Z"
                  fill="#010101"></path>
              </svg>
              <svg
                width="74"
                height="74"
                viewBox="0 0 74 74"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_20_15)">
                  <path d="M0 0H74V74H0V0Z" fill="url(#paint0_linear_20_15)"
                  ></path>
                  <path
                    d="M25.9069 61.05H14.4213L27.1242 34.4987L32.88 46.348L25.9069 61.05ZM27.9532 31.9616C27.8769 31.8053 27.7582 31.6735 27.6106 31.5813C27.4631 31.489 27.2927 31.44 27.1187 31.4399H27.1158C26.9413 31.4401 26.7704 31.4896 26.6228 31.5826C26.4752 31.6757 26.3569 31.8086 26.2815 31.966L12.1155 61.5767C12.0483 61.7178 12.0179 61.8737 12.0272 62.0298C12.0365 62.1858 12.0851 62.337 12.1686 62.4692C12.2521 62.6013 12.3677 62.7102 12.5047 62.7857C12.6416 62.8611 12.7954 62.9006 12.9517 62.9006L26.4937 62.9003C26.6692 62.9004 26.841 62.8507 26.9894 62.7571C27.1378 62.6635 27.2566 62.5297 27.332 62.3713L34.7464 46.7388C34.8057 46.6139 34.836 46.4773 34.8352 46.3391C34.8344 46.2009 34.8025 46.0646 34.7418 45.9404L27.9532 31.9616ZM60.1206 61.05H48.7093L30.4018 22.7272C30.3263 22.5692 30.2076 22.4358 30.0594 22.3425C29.9112 22.2492 29.7396 22.1998 29.5644 22.2H22.0979L22.1066 12.95H36.7407L54.9637 51.2719C55.0392 51.43 55.1579 51.5635 55.3061 51.657C55.4543 51.7505 55.6259 51.8 55.8012 51.8H60.1206V61.05ZM61.0479 49.95H56.388L38.1649 11.6281C38.0893 11.4699 37.9705 11.3363 37.8221 11.2428C37.6738 11.1493 37.502 11.0998 37.3266 11.1H21.1805C20.935 11.0998 20.6996 11.197 20.5257 11.3703C20.3519 11.5435 20.2538 11.7787 20.2532 12.0241L20.243 23.1241C20.243 23.3701 20.3393 23.6051 20.5148 23.7788C20.6882 23.9529 20.9235 24.05 21.1701 24.05H28.9797L47.288 62.3728C47.3634 62.5306 47.4819 62.6639 47.6299 62.7572C47.7779 62.8506 47.9493 62.9 48.1242 62.9H61.0479C61.1695 62.9002 61.29 62.8763 61.4024 62.8299C61.5148 62.7835 61.617 62.7154 61.7031 62.6295C61.7891 62.5436 61.8575 62.4416 61.9041 62.3293C61.9508 62.217 61.9748 62.0966 61.9749 61.975V50.875C61.9749 50.3645 61.5604 49.95 61.0479 49.95Z"
                    fill="white"></path>
                </g>
                <defs>
                  <linearGradient
                    id="paint0_linear_20_15"
                    x1="0"
                    y1="7400"
                    x2="7400"
                    y2="0"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#C8511B"></stop>
                    <stop offset="1" stop-color="#FF9900"></stop>
                  </linearGradient>
                  <clipPath id="clip0_20_15">
                    <rect width="74" height="74" rx="15" fill="white"></rect>
                  </clipPath>
                </defs>
              </svg>
              <svg
                width="67"
                height="75"
                viewBox="0 0 67 75"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_20_48)">
                  <path
                    d="M33.218 74.8608C32.1864 74.8608 31.2236 74.5857 30.3296 74.1043L21.1824 68.6711C19.807 67.9146 20.4947 67.6395 20.9074 67.5019C22.7642 66.883 23.108 66.7455 25.0337 65.6448C25.2402 65.5073 25.5153 65.5761 25.7214 65.7136L32.7366 69.909C33.0117 70.0465 33.3555 70.0465 33.5619 69.909L61.003 54.0222C61.2781 53.8846 61.4157 53.6096 61.4157 53.2657V21.5604C61.4157 21.2166 61.2781 20.9415 61.003 20.8039L33.5619 4.98568C33.2868 4.84814 32.9429 4.84814 32.7366 4.98568L5.29542 20.8042C5.02033 20.9417 4.88279 21.2856 4.88279 21.5607V53.2657C4.88279 53.5408 5.02033 53.8846 5.29542 54.0222L12.792 58.3548C16.8498 60.4179 19.3941 58.0109 19.3941 55.6039V24.3113C19.3941 23.8987 19.7382 23.486 20.2196 23.486H23.7273C24.1399 23.486 24.5525 23.8299 24.5525 24.3113V55.6037C24.5525 61.0369 21.5951 64.2004 16.4369 64.2004C14.8552 64.2004 13.6173 64.2004 10.1099 62.4811L2.88841 58.3548C1.10035 57.323 0 55.3974 0 53.3342V21.6295C0 19.5663 1.10035 17.6407 2.88841 16.6089L30.3296 0.722102C32.0489 -0.240701 34.3871 -0.240701 36.1064 0.722102L63.5476 16.6089C65.3356 17.6404 66.436 19.566 66.436 21.6295V53.3345C66.436 55.3976 65.3356 57.3232 63.5476 58.3548L36.1064 74.2421C35.2124 74.6547 34.1808 74.861 33.218 74.861V74.8608ZM41.6772 53.0591C29.6416 53.0591 27.1658 47.5574 27.1658 42.8807C27.1658 42.468 27.5097 42.0554 27.9911 42.0554H31.5672C31.9798 42.0554 32.324 42.3305 32.324 42.7431C32.8741 46.388 34.4559 48.1763 41.7459 48.1763C47.523 48.1763 49.9991 46.8697 49.9991 43.775C49.9991 41.9866 49.3113 40.68 40.3017 39.7857C32.8054 39.0292 28.1286 37.3787 28.1286 31.3955C28.1286 25.8245 32.8051 22.5235 40.6456 22.5235C49.4486 22.5235 53.7815 25.5494 54.3317 32.1518C54.3317 32.3581 54.2629 32.5644 54.1254 32.7707C53.9878 32.9083 53.7815 33.0458 53.5752 33.0458H49.9991C49.6549 33.0458 49.3113 32.7707 49.2423 32.4269C48.417 28.6444 46.2851 27.4065 40.6456 27.4065C34.3186 27.4065 33.5619 29.6072 33.5619 31.2577C33.5619 33.2524 34.4559 33.8711 42.9838 34.9714C51.4433 36.0718 55.432 37.6538 55.432 43.5684C55.3632 49.6205 50.4117 53.0591 41.6772 53.0591Z"
                    fill="#6BCD56"></path>
                </g>
                <defs>
                  <clipPath id="clip0_20_48">
                    <rect width="66.4375" height="75" fill="white"></rect>
                  </clipPath>
                </defs>
              </svg>
              <svg
                width="75"
                height="75"
                viewBox="0 0 75 75"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_20_63)">
                  <path
                    d="M32.9281 2.82502L20.6313 37.625L35.625 37.7406L23.9125 72.1719L23.9125 72.1781L56.2375 26.2188L40.5438 26.2188L55.7719 2.8219L43.8219 2.8219L32.9281 2.82502ZM21.5719 15.3438C21.0894 15.344 20.6266 15.535 20.2844 15.875L0.484378 35.2656C0.171824 35.6467 0.00100693 36.1244 0.00100693 36.6172C0.00100692 37.1101 0.171824 37.5877 0.484378 37.9688L20.6344 57.9563C20.9906 58.2685 21.4482 58.4407 21.9219 58.4407C22.3956 58.4407 22.8532 58.2685 23.2094 57.9563C23.5489 57.5881 23.7374 57.1056 23.7374 56.6047C23.7374 56.1039 23.5489 55.6213 23.2094 55.2531L6.22188 37.9719C5.88436 37.6027 5.69719 37.1206 5.69719 36.6203C5.69719 36.1201 5.88436 35.638 6.22188 35.2688L22.8594 18.5688C23.0523 18.4004 23.207 18.1927 23.313 17.9595C23.419 17.7264 23.4738 17.4733 23.4738 17.2172C23.4738 16.9611 23.419 16.708 23.313 16.4749C23.207 16.2418 23.0523 16.034 22.8594 15.8656C22.5164 15.527 22.0538 15.3373 21.5719 15.3375L21.5719 15.3438ZM53.425 15.3438C52.9426 15.344 52.4798 15.535 52.1375 15.875C51.9442 16.0428 51.7891 16.2502 51.6829 16.4831C51.5766 16.716 51.5216 16.969 51.5216 17.225C51.5216 17.481 51.5766 17.734 51.6829 17.967C51.7891 18.1999 51.9442 18.4072 52.1375 18.575L69.1219 35.2719C69.461 35.6409 69.6491 36.1239 69.6491 36.625C69.6491 37.1262 69.461 37.6091 69.1219 37.9781L51.7844 55.2594C51.4462 55.6283 51.2586 56.1105 51.2586 56.611C51.2586 57.1114 51.4462 57.5936 51.7844 57.9625C52.1406 58.2748 52.5982 58.447 53.0719 58.447C53.5456 58.447 54.0032 58.2748 54.3594 57.9625L74.5156 37.975C74.8293 37.5945 75.0008 37.1166 75.0008 36.6235C75.0008 36.1303 74.8293 35.6525 74.5156 35.2719L54.7125 15.8719C54.3697 15.533 53.907 15.3432 53.425 15.3438Z"
                    fill="#FEBA15"></path>
                </g>
                <defs>
                  <clipPath id="clip0_20_63">
                    <rect width="75" height="75" fill="white"></rect>
                  </clipPath>
                </defs>
              </svg>
              <svg
                width="75"
                height="75"
                viewBox="0 0 75 75"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.2054 53.311L38.0437 6.82971L40.4531 8.21956L13.6172 54.7031L11.2054 53.311Z"
                  fill="#E10098"></path>
                <path
                  d="M10.6523 49.5984H64.3289V52.3805H10.6523V49.5984Z"
                  fill="#E10098"></path>
                <path
                  d="M11.7164 51.1594L13.1063 48.75L39.9539 64.2515L38.5617 66.6609L11.7164 51.1594ZM35.0391 10.7578L36.4313 8.35077L63.2789 23.8523L61.8867 26.2617L35.0391 10.7578Z"
                  fill="#E10098"></path>
                <path
                  d="M11.7234 23.8453L38.5688 8.34375L39.9609 10.7531L13.1133 26.2547L11.7234 23.8453Z"
                  fill="#E10098"></path>
                <path
                  d="M34.5539 8.2219L36.9633 6.82971L63.7992 53.3133L61.3922 54.7031L34.5539 8.2219ZM12.7828 21.9985H15.5649V53.0016H12.7828V21.9985Z"
                  fill="#E10098"></path>
                <path
                  d="M59.4375 21.9984H62.2195V53.0015H59.4375V21.9984Z"
                  fill="#E10098"></path>
                <path
                  d="M36.8766 63.3797L60.225 49.8984L61.4414 52.0031L38.0907 65.4844L36.8766 63.3797Z"
                  fill="#E10098"></path>
                <path
                  d="M65.9063 53.9062C65.3279 54.9111 64.4645 55.7219 63.4252 56.2358C62.3859 56.7498 61.2175 56.9439 60.0679 56.7935C58.9182 56.6431 57.8391 56.1551 56.9669 55.3911C56.0948 54.6271 55.4689 53.6216 55.1685 52.5017C54.8681 51.3819 54.9067 50.1981 55.2794 49.1002C55.6521 48.0023 56.3421 47.0396 57.2621 46.3341C58.1822 45.6285 59.2908 45.2118 60.4478 45.1366C61.6048 45.0614 62.7581 45.3311 63.7617 45.9117C65.1049 46.6887 66.0851 47.9668 66.4871 49.4655C66.8891 50.9643 66.6803 52.5613 65.9063 53.9062ZM19.2188 26.9531C18.6405 27.958 17.777 28.7687 16.7377 29.2827C15.6984 29.7967 14.53 29.9908 13.3804 29.8404C12.2307 29.69 11.1516 29.2019 10.2794 28.438C9.4073 27.674 8.78142 26.6684 8.48102 25.5486C8.18063 24.4288 8.21921 23.245 8.5919 22.1471C8.96458 21.0492 9.65461 20.0865 10.5746 19.381C11.4947 18.6754 12.6034 18.2586 13.7603 18.1835C14.9173 18.1083 16.0706 18.378 17.0742 18.9586C18.4174 19.7356 19.3976 21.0136 19.7996 22.5124C20.2017 24.0111 19.9928 25.6082 19.2188 26.9531ZM9.09377 53.9062C8.51322 52.9026 8.24346 51.7493 8.31865 50.5923C8.39384 49.4353 8.81059 48.3267 9.51615 47.4066C10.2217 46.4866 11.1844 45.7966 12.2823 45.4239C13.3802 45.0512 14.564 45.0126 15.6838 45.313C16.8036 45.6134 17.8092 46.2393 18.5732 47.1114C19.3371 47.9836 19.8252 49.0627 19.9756 50.2124C20.126 51.362 19.9319 52.5304 19.4179 53.5697C18.9039 54.609 18.0932 55.4724 17.0883 56.0508C15.7434 56.8248 14.1463 57.0336 12.6476 56.6316C11.1488 56.2296 9.87076 55.2494 9.09377 53.9062ZM55.7813 26.9531C55.2007 25.9495 54.931 24.7962 55.0061 23.6392C55.0813 22.4822 55.4981 21.3735 56.2036 20.4535C56.9092 19.5335 57.8719 18.8434 58.9698 18.4708C60.0677 18.0981 61.2515 18.0595 62.3713 18.3599C63.4911 18.6603 64.4967 19.2862 65.2607 20.1583C66.0246 21.0304 66.5127 22.1096 66.6631 23.2593C66.8134 24.4089 66.6194 25.5773 66.1054 26.6166C65.5914 27.6559 64.7807 28.5193 63.7758 29.0976C62.4309 29.8716 60.8338 30.0805 59.3351 29.6785C57.8363 29.2764 56.5583 28.2963 55.7813 26.9531ZM37.5 70.3125C36.3411 70.3125 35.2083 69.9688 34.2447 69.325C33.2812 68.6812 32.5301 67.766 32.0867 66.6954C31.6432 65.6247 31.5271 64.4466 31.7532 63.31C31.9793 62.1734 32.5374 61.1293 33.3568 60.3099C34.1763 59.4905 35.2203 58.9324 36.3569 58.7063C37.4935 58.4802 38.6716 58.5963 39.7423 59.0397C40.813 59.4832 41.7281 60.2342 42.3719 61.1978C43.0157 62.1614 43.3594 63.2942 43.3594 64.4531C43.3616 65.2232 43.2115 65.9861 42.9178 66.6979C42.6241 67.4098 42.1926 68.0566 41.648 68.6011C41.1035 69.1457 40.4567 69.5772 39.7449 69.8709C39.033 70.1646 38.2701 70.3146 37.5 70.3125ZM37.5 16.3851C36.3411 16.3851 35.2083 16.0415 34.2447 15.3977C33.2812 14.7538 32.5301 13.8387 32.0867 12.768C31.6432 11.6974 31.5271 10.5193 31.7532 9.38265C31.9793 8.24604 32.5374 7.202 33.3568 6.38256C34.1763 5.56311 35.2203 5.00506 36.3569 4.77897C37.4935 4.55289 38.6716 4.66892 39.7423 5.1124C40.813 5.55589 41.7281 6.3069 42.3719 7.27047C43.0157 8.23403 43.3594 9.36689 43.3594 10.5258C43.3616 11.2958 43.2115 12.0587 42.9178 12.7706C42.6241 13.4825 42.1926 14.1293 41.648 14.6738C41.1035 15.2183 40.4567 15.6498 39.7449 15.9435C39.033 16.2372 38.2701 16.3873 37.5 16.3851Z"
                  fill="#E10098"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap">
        <div class="project-card-col" style="flex: 1">
          <div
            data-aos="fade-up"
            class="h-full project-card"
            style="background: #4088A6; position: relative"
          >
            <div class="flex justify-between">
              <div>
                <div
                  class="text-white"
                  style="font-size: 1.5rem; margin-bottom: 0.4375rem"
                >
                  Scrapper
                </div>
                <div
                  style="color: #D3D3D3; font-size: 1.25rem; margin-bottom: 3rem"
                >
                  Web scrapping website
                </div>
              </div>
              <button
                id="scrapper-btn"
                class="icon-btn rounded-full flex items-center justify-center bg-white"
                style="margin-right: 0;"
              >
                <svg
                  width="36"
                  height="36"
                  viewBox="0 0 51 51"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M31.3709 30.3976C30.9518 30.3313 30.6223 30.1226 30.3822 29.7717C30.1421 29.4209 30.0556 29.0356 30.1228 28.616L31.0603 22.697L17.5294 32.5277C17.1856 32.7775 16.8126 32.8706 16.4103 32.8069C16.008 32.7432 15.6827 32.5395 15.4342 32.1959C15.1844 31.852 15.0914 31.479 15.1551 31.0767C15.2188 30.6744 15.4225 30.3491 15.7661 30.1007L29.2969 20.27L23.3256 19.3242C22.9065 19.2578 22.5756 19.0576 22.3329 18.7235C22.0901 18.3893 22.0022 18.0132 22.0692 17.5949C22.1356 17.1759 22.3358 16.845 22.6699 16.6022C23.004 16.3595 23.3802 16.2716 23.7985 16.3385L33.384 17.8567C33.5935 17.8899 33.7752 17.9588 33.929 18.0633C34.0829 18.1679 34.2182 18.3014 34.3349 18.4637C34.4525 18.6255 34.5372 18.7958 34.5891 18.9744C34.641 19.153 34.6507 19.3467 34.6184 19.5557L33.0919 29.1936C33.031 29.5777 32.8339 29.8909 32.5006 30.133C32.1673 30.3752 31.7907 30.4634 31.3709 30.3976Z"
                    fill="#181818"></path>
                </svg>
              </button>
            </div>

            <Browser1 />
            <Browser2 />
          </div>
        </div>
        <div class="project-card-col" style="flex: 1">
          <div
            data-aos="fade-up"
            class="h-full flex flex-col project-card"
            style="background: #292929; position: relative"
          >
            <div class="flex justify-between">
              <div>
                <div
                  class="text-white"
                  style="font-size: 1.5rem; margin-bottom: 0.4375rem"
                >
                  Starless Load Tester
                </div>
                <div
                  style="color: #D3D3D3; font-size: 1.25rem; margin-bottom: 3rem"
                >
                  API load-testing CLI
                </div>
              </div>
              <button
                id="starless-loadtester-btn"
                class="icon-btn rounded-full flex items-center justify-center bg-white"
                style="margin-right: 0;"
              >
                <svg
                  width="36"
                  height="36"
                  viewBox="0 0 51 51"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M31.3709 30.3976C30.9518 30.3313 30.6223 30.1226 30.3822 29.7717C30.1421 29.4209 30.0556 29.0356 30.1228 28.616L31.0603 22.697L17.5294 32.5277C17.1856 32.7775 16.8126 32.8706 16.4103 32.8069C16.008 32.7432 15.6827 32.5395 15.4342 32.1959C15.1844 31.852 15.0914 31.479 15.1551 31.0767C15.2188 30.6744 15.4225 30.3491 15.7661 30.1007L29.2969 20.27L23.3256 19.3242C22.9065 19.2578 22.5756 19.0576 22.3329 18.7235C22.0901 18.3893 22.0022 18.0132 22.0692 17.5949C22.1356 17.1759 22.3358 16.845 22.6699 16.6022C23.004 16.3595 23.3802 16.2716 23.7985 16.3385L33.384 17.8567C33.5935 17.8899 33.7752 17.9588 33.929 18.0633C34.0829 18.1679 34.2182 18.3014 34.3349 18.4637C34.4525 18.6255 34.5372 18.7958 34.5891 18.9744C34.641 19.153 34.6507 19.3467 34.6184 19.5557L33.0919 29.1936C33.031 29.5777 32.8339 29.8909 32.5006 30.133C32.1673 30.3752 31.7907 30.4634 31.3709 30.3976Z"
                    fill="#181818"></path>
                </svg>
              </button>
            </div>
            <div class="flex justify-center items-center">
              <img class="terminal" src="terminal1.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap">
        <div class="project-card-col" style="flex: 1">
          <div
            data-aos="fade-up"
            class="h-full project-card"
            style="background: #FFF6BE; position: relative"
          >
            <div class="flex justify-between">
              <div>
                <div style="font-size: 1.5rem; margin-bottom: 0.4375rem">
                  Application Manager
                </div>
                <div
                  style="color: #333333; font-size: 1.25rem; margin-bottom: 3rem"
                >
                  Easy containerized applications manager
                </div>
              </div>
              <button
                class="icon-btn rounded-full flex items-center justify-center bg-white"
                style="margin-right: 0;"
              >
                <svg
                  width="36"
                  height="36"
                  viewBox="0 0 51 51"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M31.3709 30.3976C30.9518 30.3313 30.6223 30.1226 30.3822 29.7717C30.1421 29.4209 30.0556 29.0356 30.1228 28.616L31.0603 22.697L17.5294 32.5277C17.1856 32.7775 16.8126 32.8706 16.4103 32.8069C16.008 32.7432 15.6827 32.5395 15.4342 32.1959C15.1844 31.852 15.0914 31.479 15.1551 31.0767C15.2188 30.6744 15.4225 30.3491 15.7661 30.1007L29.2969 20.27L23.3256 19.3242C22.9065 19.2578 22.5756 19.0576 22.3329 18.7235C22.0901 18.3893 22.0022 18.0132 22.0692 17.5949C22.1356 17.1759 22.3358 16.845 22.6699 16.6022C23.004 16.3595 23.3802 16.2716 23.7985 16.3385L33.384 17.8567C33.5935 17.8899 33.7752 17.9588 33.929 18.0633C34.0829 18.1679 34.2182 18.3014 34.3349 18.4637C34.4525 18.6255 34.5372 18.7958 34.5891 18.9744C34.641 19.153 34.6507 19.3467 34.6184 19.5557L33.0919 29.1936C33.031 29.5777 32.8339 29.8909 32.5006 30.133C32.1673 30.3752 31.7907 30.4634 31.3709 30.3976Z"
                    fill="#181818"></path>
                </svg>
              </button>
            </div>
            <img src="table.png" class="table-image" alt="" />
          </div>
        </div>
        <div class="project-card-col" style="flex: 1">
          <div
            data-aos="fade-up"
            class="h-full flex flex-col project-card"
            style="background: #292929; position: relative"
          >
            <div class="flex justify-between">
              <div>
                <div
                  class="text-white"
                  style="font-size: 1.5rem; margin-bottom: 0.4375rem"
                >
                  Slsql
                </div>
                <div
                  style="color: #D3D3D3; font-size: 1.25rem; margin-bottom: 3rem"
                >
                  Command line program for databases
                </div>
              </div>
              <button
                id="slsql-btn"
                class="icon-btn rounded-full flex items-center justify-center bg-white"
                style="margin-right: 0;"
              >
                <svg
                  width="36"
                  height="36"
                  viewBox="0 0 51 51"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M31.3709 30.3976C30.9518 30.3313 30.6223 30.1226 30.3822 29.7717C30.1421 29.4209 30.0556 29.0356 30.1228 28.616L31.0603 22.697L17.5294 32.5277C17.1856 32.7775 16.8126 32.8706 16.4103 32.8069C16.008 32.7432 15.6827 32.5395 15.4342 32.1959C15.1844 31.852 15.0914 31.479 15.1551 31.0767C15.2188 30.6744 15.4225 30.3491 15.7661 30.1007L29.2969 20.27L23.3256 19.3242C22.9065 19.2578 22.5756 19.0576 22.3329 18.7235C22.0901 18.3893 22.0022 18.0132 22.0692 17.5949C22.1356 17.1759 22.3358 16.845 22.6699 16.6022C23.004 16.3595 23.3802 16.2716 23.7985 16.3385L33.384 17.8567C33.5935 17.8899 33.7752 17.9588 33.929 18.0633C34.0829 18.1679 34.2182 18.3014 34.3349 18.4637C34.4525 18.6255 34.5372 18.7958 34.5891 18.9744C34.641 19.153 34.6507 19.3467 34.6184 19.5557L33.0919 29.1936C33.031 29.5777 32.8339 29.8909 32.5006 30.133C32.1673 30.3752 31.7907 30.4634 31.3709 30.3976Z"
                    fill="#181818"></path>
                </svg>
              </button>
            </div>
            <div class="flex justify-center items-center">
              <img class="terminal" src="terminal2.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .hiiamhlm {
    font-size: 3.25rem;
    margin-bottom: 1.375rem;
  }
  .skill {
    padding: 0.625rem 1.25rem;
    border-radius: 0.9375rem;
    margin-right: 0.625rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-btn {
    width: 3.4375rem;
    height: 3.4375rem;
    margin-right: 0.9375rem;
  }
  .main-info {
    /* height: 405.29999999999995px; */
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(
      233.33deg,
      #bab2a8 0%,
      #e7e7e8 25.52%,
      #efebe5 57.81%
    );
    padding: 20.299999999999997px 28px 30.099999999999998px 28px;
    /* width: 486.49999999999994px; */
  }
  .contact-btn {
    padding: 9.799999999999999px 27.299999999999997px;
    font-size: 1.125rem;
    margin-right: 0.9375rem;
  }
  .hlm-image {
    border-radius: 15px;
    overflow: hidden;
    background: url(hlm.jpg);
    background-size: cover;
    /* width: 362.59999999999997px; */
    width: 100%;
    height: 38rem;
    background-position: 50% 50%;
  }
  .project-card {
    /* transition: all 0.2s; */
    /* width: 424.9px; */
    border-radius: 15px;
    padding: 19.599999999999998px 30.099999999999998px;
  }

  .project-card:hover {
    /* box-shadow: 0 0 6px 3px #08101a1a; */
    transform: scale(102%) !important;
  }

  .project-card-col {
    padding: 0.6875rem;
    padding-top: 5.6px;
    height: 36.1875rem;
  }
  .terminal {
    width: 100%;
    height: 100%;
    max-width: 583.5px;
    max-height: 345.5px;
    /* position: absolute;
    left: 12px;
    top: 140px; */
  }
  .animelux1 {
    border-radius: 15px;
    transform: rotate(-19deg);
    position: absolute;
    left: 6rem;
  }

  .animelux2 {
    border-radius: 15px;
    transform: rotate(19deg);
    position: absolute;
    right: 6rem;
  }

  button:active {
    transform: scale(80%);
  }

  .table-image {
    position: absolute;
    right: 0;
    top: 131px;
    width: 100%;
    height: 100%;
    max-width: 564px;
    max-height: 359px;
  }
  .main-info-wrapper {
    padding: 0.6875rem;
    flex: 3;
  }

  @media only screen and (max-width: 896px) {
    /* .project-card-col {
      flex: auto !important;
      width: 100%;
    } */
    /* .animelux1 {
      left: 12rem;
    }
    .animelux2 {
      right: 12rem;
    } */
  }
  @media only screen and (max-width: 767px) {
    .main-info-wrapper {
      flex: auto;
    }
    .project-card-col {
      flex: auto !important;
      width: 100%;
    }
  }

  @media only screen and (max-width: 414px) {
    .hiiamhlm {
      font-size: 2.5rem;
      margin-bottom: 1.375rem;
    }
    .animelux1 {
      border-radius: 15px;
      transform: rotate(-19deg) scale(0.75);
      position: absolute;
      left: 0.1rem;
    }
    .animelux2 {
      border-radius: 15px;
      transform: rotate(19deg) scale(0.75);
      position: absolute;
      right: 0.1rem;
    }
    .technologies svg {
      transform: scale(0.75);
    }
  }

  /* @media only screen and (max-width: 517px) {
    .hlm-image {
      width: auto;
      height: 540px;
    }
    .project-card {
      width: auto;
    }
    .project-card-col {
      height: 444.0584843492587px;
    }
    .terminal {
      left: auto;
    }
    .animelux1 {
      left: 4rem;
    }
    .animelux2 {
      right: 4rem;
    }
  } */

  /* @media only screen and (max-width: 540px) {
    .hlm-image {
      width: auto;
      height: 540px;
    }
    .project-card {
      width: auto;
    }
    .project-card-col {
      height: 444.0584843492587px;
    }
    .terminal {
      left: auto;
    }
    .animelux1 {
      left: 4rem;
    }
    .animelux2 {
      right: 4rem;
    }
  } */
  /* @media only screen and (max-width: 280px) {
    .main-info {
      width: 100%;
    }
    .contact-btn {
      display: none;
    }
    .row1 > div {
      flex: 1;
    }
    .hlm-image {
      width: 423px;
      height: 485px;
    }
    .terminal {
      left: 8.399999999999999px;
    }
  } */
</style>
<!-- 405.29999999999995px; -->
<!-- 424.9 w -->
<!-- 486.5 -->
