---
---

<div
  class="bg-white"
  style="width: 250.6px; height: 172.2px; border-radius: 15px; padding: 9.1px 14.7px; position: absolute; right: 44.8px; bottom: 46.9px"
>
  <div class="flex" style="margin-bottom: 11.899999999999999px;">
    <div class="circle rounded-full"></div>
    <div class="circle rounded-full"></div>
    <div class="circle rounded-full"></div>
  </div>
  <div class="flex" style="margin-bottom: 11.2px;">
    <div class="rectangle"></div>
    <div
      class="flex flex-col justify-between"
      style="padding: 0.1rem; padding-left: 15.399999999999999px"
    >
      <div class="long-bar"></div>
      <div class="long-bar"></div>
      <div class="short-bar"></div>
    </div>
  </div>
  <div class="flex">
    <div class="small-rectangle"></div>
    <div class="small-rectangle"></div>
    <div class="flex flex-col justify-between" style="padding: 0.1rem">
      <div class="small-long-bar"></div>
      <div class="small-long-bar"></div>
      <div class="small-short-bar"></div>
    </div>
  </div>
</div>

<style>
  .rectangle {
    width: 60.199999999999996px;
    height: 30.099999999999998px;
    background: #6f6e6e;
    border-radius: 4px;
  }
  .small-rectangle {
    width: 42px;
    height: 30.099999999999998px;
    background: #6f6e6e;
    border-radius: 4px;
    margin-right: 12.6px;
  }
  .circle {
    margin-right: 3.5px;
    width: 7px;
    height: 7px;
    background: #6f6e6e;
  }
  .long-bar {
    width: 116.19999999999999px;
    height: 2.0999999999999996px;
    background: #6f6e6e;
    border-radius: 15px;
  }
  .short-bar {
    width: 58.099999999999994px;
    height: 2.0999999999999996px;
    background: #6f6e6e;
    border-radius: 15px;
  }
  .small-long-bar {
    width: 76.3px;
    height: 2.0999999999999996px;
    background: #6f6e6e;
    border-radius: 15px;
  }
  .small-short-bar {
    width: 42px;
    height: 2.0999999999999996px;
    background: #6f6e6e;
    border-radius: 15px;
  }
</style>
