---
---

<div
  class="bg-white"
  style="width: 250.6px; height: 172.2px; border-radius: 15px; padding: 9.1px 14.7px; position: absolute; left: 42px;"
>
  <div class="flex" style="margin-bottom: 11.899999999999999px;">
    <div class="circle rounded-full"></div>
    <div class="circle rounded-full"></div>
    <div class="circle rounded-full"></div>
  </div>
  <div class="long-bar"></div>
  <div class="flex">
    <div class="short-bar"></div>
    <div class="short-bar"></div>
    <div class="short-bar"></div>
    <div class="short-bar"></div>
  </div>
  <div class="flex">
    <div class="short-bar"></div>
    <div class="short-bar"></div>
    <div class="short-bar"></div>
    <div class="short-bar"></div>
  </div>
  <div class="flex">
    <div class="short-bar"></div>
    <div class="short-bar"></div>
    <div class="short-bar"></div>
    <div class="short-bar"></div>
  </div>
  <div class="flex">
    <div class="short-bar"></div>
    <div class="short-bar"></div>
    <div class="short-bar"></div>
    <div class="short-bar"></div>
  </div>
  <div class="flex">
    <div class="short-bar" style="margin-bottom: 37.8px;"></div>
  </div>
  <div class="flex justify-center">
    <div class="short-bar"></div>
    <div class="short-bar"></div>
  </div>
</div>

<style>
  .circle {
    margin-right: 3.5px;
    width: 7px;
    height: 7px;
    background: #6f6e6e;
  }
  .long-bar {
    height: 5.6px;
    width: 91px;
    background: #6f6e6e;
    border-radius: 15px;
    margin-bottom: 11.899999999999999px;
  }
  .short-bar {
    height: 5.6px;
    width: 42px;
    background: #6f6e6e;
    border-radius: 15px;
    margin-right: 7px;
    margin-bottom: 11.899999999999999px;
  }
</style>
